{% extends 'appdemoblog/__base.html' %}

{% load static %}

{% block meta %}
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{% block css_head %}
<link rel="stylesheet" href="{% static 'appdemoblog/css/libs/font-awesome.min.css' %}">
{% include 'appdemoblog/_bs4css.html' %}
<link rel="stylesheet" href="{% static 'appdemoblog/css/styles.css' %}">
{% endblock %}

{% block title %}<title>Категории</title>{% endblock %}

{% block content %}

<!-- <body> -->

<!-- Wrapper Site -->
<div id="wrapper">
    
    {% include 'appdemoblog/_header.html' %}

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="posts">

                        {% for category in categories %}
                        <!-- Author Post -->
                        <div id="post-author">
                            <div class="header-top clearfix">
                                <div class="author-name">
                                    <span>Категория</span>
                                    <h2 class="title">
                                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="author-description">
                                {{ category.description }}
                            </div>
                            <div class="author-description">
                                
                            {% if category.post_set.all %}

                            <p>Статьи в категории:</p>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Статья</th>
                                        <th scope="col">Автор</th>
                                        <th scope="col">Опубликовано</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in category.post_set.all %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><a href="{{ post.get_absolute_url }}">{{post.title}}</a></td>
                                        <td><a href="{{ post.get_absolute_url }}">{{post.author}}</a></td>
                                        <td><a href="{{ post.get_absolute_url }}">{{post.publication_date}}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% else %}
                            <p>В данной категории статей нет</p>
                            {% endif %}

                            </div>
                        </div>
                        <!-- End Author Post -->
                        {% endfor %}

                    </div>

                    {% include 'appdemoblog/_pagination.html' %}

                </div>

            </div>
        </div>
    </div>
    <!-- End Main Content -->

    <!-- Footer -->
    <footer id="footer" class="footer">
        <a href="#" class="back-to-top" title="Back Top Top"><i class="fa fa-chevron-up"></i></a>
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <p>Designed and developed by <a href="#">by</a></p>
            </div>
            <!-- End Copyright -->
        </div>
    </footer>
    <!-- End Footer -->
</div>
<!-- End Wrapper Site -->

{% block js_body %}
{% include 'appdemoblog/_jquery.html' %}
<script src="{% static 'appdemoblog/js/scripts.js' %}"></script>
{% endblock %}

{% endblock %}