{% extends 'appdemoblog/__base.html' %}

{% load static %}

{% block meta %}
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{% block css_head %}
<link rel="stylesheet" href="{% static 'appdemoblog/css/libs/font-awesome.min.css' %}">
{% include 'appdemoblog/_bs4css.html' %}
<link rel="stylesheet" href="{% static 'appdemoblog/css/styles.css' %}">
{% endblock %}

{% block title %}<title>Статьи</title>{% endblock %}

{% block content %}

<div id="wrapper">
    
    {% include 'appdemoblog/_header.html' %}

    <div class="container">

        <div class="row py-4 text-center">
            <div class="col">
                <h1>Cтатья {{ post.title }}</h1>
            </div>
        </div>

        <div class="row">

            <div class="col">

                <div class="posts">

                    <!-- Article -->
                    <article class="post">

                        <div class="post-header">
                        
                            <!-- Title -->
                            <h2 class="title">
                                <a href="#">{{ post.title }}</a>
                            </h2>
                        
                            <!-- End Title -->
                            <div class="post-details">
                                <div class="post-avatar">
                                    <a href="{{ post.author.get_absolute_url }}">
                                        <img src="{{ post.author.avatar.url }}" alt="{{ post.author.name }}">
                                    </a>
                                </div>
                                <div class="post-author">by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></div>
                                <div class="post-date">{{ post.updated }}</div>
                                <div class="post-cat">in <a href="{{ post.category.get_absolute_url }}" rel="category tag">{{ post.category.title }}</a></div>
                            </div>

                        </div>

                        <!-- Media -->
                        <div class="post-media">
                            <img src="{{ post.img.url }}" alt="Post">
                        </div>
                        <!-- End Media -->

                        <div class="post-content">
                            <!-- The Content -->
                            <div class="the-content">
                                <p>{{ post.content }}</p>
                            </div>
                            <!-- End The Content -->
                        </div>
                    </article>
                    <!-- End Article -->

                    <!-- Author Post -->
                    <div id="post-author">
                        <div class="header-top clearfix">
                            <div class="avatar-author">
                                <img src="{{ post.author.avatar.url }}" alt="Avatar">
                            </div>
                            <div class="author-name">
                                <span>Статья автора</span>
                                <h2 class="title">
                                    <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>
                                </h2>
                                <!-- <span>Content Curator</span> -->
                            </div>
                        </div>
                        <div class="author-description">
                            {{ post.author.description }}
                        </div>
                    </div>
                    <!-- End Author Post -->
                
                </div>

            </div>

        </div>

    </div>

</div>

{% block js_body %}
{% include 'appdemoblog/_jquery.html' %}
<script src="{% static 'appdemoblog/js/scripts.js' %}"></script>
{% endblock %}

{% endblock %}